{% extends "main.jinja2" %}
{% block title %} - Viewing Album {{ display_name }}{% endblock %}
{% block content %}
    <h1>{{ display_name }}</h1>
    <div class="albumupload">
        {{ form | safe }}
    </div>
    <div class="album">
        {% for picture in pictures %}
            <span class="picturespan">
                <a href="/gallery/picture/{{ picture.id }}">
                    <img src="{{ w.get_upload_url(request) }}{{
                        picture.file_obj.uuid }}/{{ split_ext(picture
                        .file_obj.name) }}.thumbnail.png"
                        /></a>
            </span>
        {%  endfor %}
    </div>
{% endblock %}